<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <style>
    .card {
    text-align: center;
    box-shadow: 0 0 10px #555;
    margin-top: 30%;
    margin-left: 30%;

    }

    .container {
    position: relative;
<!--    text-align: center;-->
    box-shadow:
    }

    </style>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" user-scalable="no" maximum-scale="1.0">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <title>Thank you</title>
</head>
<body >
<div class="container">
<div class="card" style="width: 24rem; height: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Special title treatment</h5>
    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
</div>

</body>
</html>